<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="content-language" content="en'">
<base href="https://www.belle-nuit.com/">
<title>Belle Nuit Montage - </title>
<meta name="title" content="Belle Nuit Montage - ">
<meta name="description" content="''">
<link rel='stylesheet' href="inc/skins/default.css"/>
<link rel="stylesheet" href="site/skins/default.css"/>
<link rel="apple-touch-icon" sizes="180x180" href="site/skins/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="site/skins/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="site/skins/favicon-16x16.png">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="alternate" hreflang="de" href="bellenuit-css&lang=de">
<link rel="alternate" hreflang="fr" href="bellenuit-css&lang=fr">
<style>

/*
#page {
	
	background-image:
      repeating-linear-gradient(#088 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, #088 0 1px, transparent 1px 100%);
    background-size: 30px 30px;
}
*/

body { font-family: Times, "Times New Roman", serif; 
	   font-size: 19px;
	   line-height: 30px;
	   padding: 0px;
	   background-color: #333;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

a:link, a:visited { font-family: Helvetica, Arial, sans-serif; color: #444; } 
a:hover { color: #888 }
a.invalid  { color: red; }

input.singlesearchfield 	{ width: 300px; margin-left: 8px; border:1px solid black; }
div.dropdown-item-status { background-color: white; padding-top: 0px; padding-bottom: 0px; } 
.dropdown-item a { top: 0px; color: black; font-size: 13px; }
.dropdown-content { top: 36px; border-top: none; }
div.editzone form input[type="text"] { display: block; margin-botton: 8px; width: calc(100% - 20px); font-size: 16px; -webkit-appearance: none;}
div.editzone form input[type="password"] { display: block; margin-botton: 8px; width: calc(100% - 20px); font-size: 16px; -webkit-appearance: none;}
div.editzone form input[type="submit"] { border: 1px solid black; margin: 10px; ; min-width: calc(30% - 60px); -webkit-appearance: none; color: black; } 
div.editzone form button { 
	font-family: Tahoma, Helvetica, Arial, Sans-Serif; font-weight: bold; font-size: 13px; background-color: white;
	
	border: 1px solid black; margin: 10px; ; min-width: calc(30% - 60px); -webkit-appearance: none; color: black; } 
	
div.editzone form button:hover {  cursor: pointer;}
div.editzone form button:disabled {  color: gray;  cursor: default;}

div.imagesquare { float:left; width: 330px; margin-right: 30px; margin-bottom: 30px; }


div.module11 {width:300px;height:150px; float:left; padding:15px; margin-right:30px;margin-bottom:30px;position:relative; font-size:20px;line-height:24px; font-family: Helvetica, Arial, sans-serif; display: block; overflow: hidden; background-color: white; }
div.modulesquare {width:300px;height:300px; float:left; padding:0px; margin-right:30px;margin-bottom:30px;position:relative; font-size:20px;line-height:24px; font-family: Helvetica, Arial, sans-serif; display: block; overflow: hidden; background-color: white; }
div.module11 a { text-decoration: none; color: black }
div.module11demi {width:360px;height:90px; float:left; margin-right:20px;margin-bottom:20px;position:relative; font-size:20px;line-height:24px;}
div.gris {background-color:#888;color:white;  }
div.gris a {text-decoration: none;color:white;}
div.vert {background-color:#84b414;color:white;  }
div.vert a {text-decoration: none;color:white;}
div.rose {background-color:#b1025f;color:white;  }
div.rose a {text-decoration: none;color:white;}
div.noir {background-color:#000;color:white; }
div.noir a {text-decoration: none;color:white; }
div.paper {background-color:#eee;padding:15px; padding-bottom: 15px; font-size:19px;}
div.paper a {text-decoration: none;box-shadow: none; }
div.photo { width:330px; height:180px; padding:0px;}
div.module11image_photo {width:360px;height:190px;overflow:hidden;display: flex; justify-content: center; align-items: center;position:absolute;top:0px;left:0px;}
div.module11_text {width:300px;height:156px;overflow:hidden;padding: 0px; line-height: 24px;}
div.module11image_text {position:absolute;bottom:0px;left:0px;width:100%;font-size:20px;line-height:24px;color:white;padding:10px;}
span.module11_title {font-family: Helvetica, Arial, sans-serif; font-size:20px;line-height:24px; margin-top: 4px; display: block; }
span.module11_lead {font-size:16px; text-overflow: ellipsis;}
div.module11_photo {width: 100%; height:100%; background-color:gray; }

div.module12 {width:330px; height:390px; float:left; margin-right:30px;margin-bottom:30px;position:relative; overflow:hidden; background-color: white}
div.module12image {width:330px;height:390px; float:left; margin-right:30px;margin-bottom:30px;position:relative; }
div.module12_photo {width:100%; height:210px; overflow:hidden;display: flex; justify-content: center; align-items: center } 
div.module12image_photo {width:330px;height:390px;overflow:hidden;display: flex; justify-content: center; align-items: center;position:absolute;top:0px;left:0px;}
div.module12_text {width:calc(100% - 30px); height:130px; padding: 15px; overflow:hidden; line-height: 24px;}
div.module12image_text {position:absolute;bottom:0px;left:0px;width:360px;font-size:17px;line-height:24px;color:white;}
span.module12_title {font-family: Helvetica, Arial, sans-serif;  display:block; }
span.module12_lead { }
div.module12 a { text-decoration: none; color: black }

div.module22 {width:690px;height:390px; float:left; margin-right:30px;margin-bottom:30px;;position:relative; background-color: white; overflow: hidden;}
div.module22_photo {width:100%; height:210px; overflow:hidden;display: flex; justify-content: center; align-items: center} 
div.module22_text {width:calc(100% - 30px); height:130px; padding: 15px; overflow:hidden; line-height: 24px;}
span.module22_title {font-family: Helvetica, Arial, sans-serif;  display: block; }
span.module22_lead {   }
div.module22 a { text-decoration: none; color: black }

img.embeddimage { max-width: 100% } 
div.imagetop { position: relative; left:-120px; width:calc(100% + 120px + 180px); }

div.relation table { background-color: white; }
div.relation p { margin-top: 0px; }

span.marginalia { 
	display: block;
	position: relative;
	left: 100%;
	height: 0px;
	margin-left: 30px;
	width: 120px;
	font-size: 15px;
	line-height: 30px;
}


h1 	 { font-family: Helvetica, Arial, sans-serif; 
	   font-size: 28px;
	   line-height: 30px;
	   margin-right: 24px;
	   margin-top: 60px; 
	   margin-bottom: 60px;
}
h3 	 { font-family: Helvetica, Arial, sans-serif; 
	   font-size: 24px;
	   line-height: 30px;
	   margin-top: 32px;
	   margin-bottom: 30px;
}
h4 	 { font-family: Helvetica, Arial, sans-serif; 
	   line-height: 30px;
	   margin-top: 30px;
	   margin-bottom: 30px;
}


p    { margin-bottom: 30px; min-width: 320px;}

ul   { margin-bottom: 30px; }

pre  { border:none; background-color: transparent; } 

table { border-collapse: collapse; margin-bottom: 24px; }
td    { padding: 6px; border: 1px solid black }

#appmenu { position: fixed; top: 0px; height: 36px; white-space: nowrap; }
#page    { position: absolute; top: 36px; width: 100%; background-color: transparent }
#footer  { position: relative; }
#header  { height: 120px; width: calc(100% - 60px); background-color: transparent; padding-left: 30px; padding-right: 30px;  }
#header a { text-decoration: none; color: white;}
#header p {  font-family: Helvetica, Arial, sans-serif; font-weight: bold; color: white; font-size:19px; position: absolute; left: 150px; top: 35px;}
#header img { height:60px; position: absolute; left: 30px; top: 30px; }
#content { position: relative; top: 0px; left: 0px; padding-left: 120px; padding-right: 180px; padding-top: 48px; padding-bottom: 62px; height:auto; margin-top: 0px; margin-left: 30px; background-color: white;  }
#parsedname { position: relative; width: 100%; padding-right: 24px; margin-bottom: 40px;}
#parsedcontent { position: relative; width: 100%; padding-right: 24px; padding-left: 0px; padding-top: 2px; }
#parsedcontent p { }
#parsedcontent h3 { flex-grow: 5; }
#parsedcontent h4 { flex-grow: 5; }

#subsitemenu { position: absolute; top: 0px; left: calc(100% + 180px) ; float: none; background-color: #FFFF88; width: 180px; padding-bottom: 0px; }
#subsitemenu p { width: 100% ; min-width: 160px; font-size: 15px; line-height: 20px; margin-top: 0px; margin-bottom: 15px; } 

div.psmain    { position: relative; }
div.psdownload { position: absolute;
	left: calc(100% + 30px);;
	top: 0px;
	font-size: 15px;
	line-height: 20px;
	font-family: Courier; 
}
div.psdownload a { font-family: Courier; }

div.psconsole { position: absolute;
	left: calc(100% + 210px);
	top: 0px;
	font-size: 15px;
	line-height: 20px;
	width: 500px;
	font-family: Courier; 
	color: white;  }
	
p.pscode { font-family: Courier; font-size: 15px;
	line-height: 20px; }
	
	
div.psconsole p { margin-top: 0px; }



/* 1 column (ipad portrait) */ 
@media all and (max-width:900px) {

div.module11 { width: calc(100% - 30px); max-width: 330px; }	
div.module12 { width: 100%; height:auto; max-width: 330px;}
div.module12_text {height:auto;}
div.module22 { width: 100%; height:auto; max-width: 330px;}
div.module22_text { height:auto;}

#content { margin-left: 0px; padding-top: 12px; padding-left: calc(max(15px, 40% - 300px)); padding-right: calc(max(15px, 60% - 390px)); }

span.marginalia { display: block; float: right; height: auto; margin-left: 12px; width: 160px;}
#subsitemenu { position: relative; top: 0px; left: 0px; float: right;  }

#subsitemenu { display: none; }
div.imagetop { left:0px; width:100%; }

div.psdownloa { display: block; float: right; height: auto; margin-left: 12px; width: 160px;}


}

/* mobile */
@media all and (max-width:640px) {


section.m_branding { height:50px;}
img.embeddimage { max-width: 100% } 



#appmenu { height: <? if (false && $username) echo '66px'; else echo '40px';  ?>;  padding-bottom: 0px; }
#page   { top:  <? if (false && $username) echo '66px'; else echo '40px'; ?> }
#header { height: 60px; }
#header img {  height:30px; top:15px; left: 15px; }
#header p { left: 75px; top: 7px;  font-size: 16px; }
#parsedname { width: 100%; padding-left: 0px; padding-right: 0px;  }
#parsedcontent { width: 100%; padding-left: 0px; padding-right: 0px;  }
h1 { margin-top: 14px; }

.dropdown-content 			{ top: 40px; border-top: none; }
.dropdown-item-header 		{ height: 24px; padding-top: 7px; padding-bottom: 7px;  font-size: 16px;}
.dropdown-item-status 		{ height: 24px; padding-top: 7px; padding-bottom: 7px;  font-size: 16px;}
.dropdown-item 				{ height: 24px; padding-top: 0px; padding-bottom: 7px; min-width: 360px;  font-size: 16px;}
.dropdown-item-silent 		{ height: 24px; padding-top: 0px; padding-bottom: 7px; min-width: 360px;  font-size: 16px;}
.dropdown-item a            { top: 0px; color: black; font-size: 16px; }




input[type="text"]      	{ display: block; margin-botton: 8px; width: calc(100% - 30px); font-size: 16px; -webkit-appearance: none;}

input[type="password"]      { display: block; margin-botton: 8px; width: calc(100% - 90px); font-size: 16px; -webkit-appearance: none;}

input[type="submit"]    	{ border: 1px solid black; margin: 20px; min-width: calc(50% - 30px); -webkit-appearance: none;} 

div.editzone form input[type="text"] { display: block; margin-botton: 8px; width: calc(100% - 30px); font-size: 16px; -webkit-appearance: none;}
div.editzone form input[type="password"] { display: block; margin-botton: 8px; width: calc(100% - 30px); font-size: 16px; -webkit-appearance: none;}

#subsitemenu { display: none; }

canvas.pscanvas { max-width: 100% ; }
canvas.pssvg { max-width: 100% ; }
canvas.psrawcanvas { max-width: 100% ; }


}

@media print {

body { background-color: transparent }
#content { margin-left: 0px; }	
#header p { color: black; }	
}


</style>
<style></style>

</head>
<body>
<div id="page">
<div id="header">
<a href="index.php"><img src="site/files/minette2.jpg"/><p>Belle Nuit Montage</a>
</div>
<div id='content'>
<h1 id="parsedname""></h1>
<div id='parsedcontent'>
	
HTTP/1.0 404 Not Found<br><a href="index.php?action=search&query=bellenuit.css">Search bellenuit.css</a>
</div>
</div>
</div> <!-- page -->

<div id="appmenu"><div id="mobilemenu" class="dropdownmobilemenu"><a class="dropdown-item-header" onclick="showAppMenu(this.parentNode); event.stopPropagation();">≡</a>
<div class="dropdown-content"><div class="dropdown-item"><a href="belle-nuit-montage" rel="nofollow">Home</a></div>
<div class="dropdown-item"><a href="bellenuit-css&amp;lang=de">Deutsch</a></div>
<div class="dropdown-item"><a href="bellenuit-css&amp;lang=en">English</a></div>
<div class="dropdown-item"><a href="bellenuit-css&amp;lang=fr">Fran&ccedil;ais</a></div>
<div class="dropdown-item"></div>
<div class="dropdown-item"><a href="index.php?action=login&amp;name=bellenuit.css&lang=en" rel="nofollow">Login</a></div>
</div>
</div>
<div class="dropdown desktop"><a class="dropdown-item-header" onclick="showAppMenu(this.parentNode); event.stopPropagation();">English</a>
<div class="dropdown-content"><div class="dropdown-item"><a href="bellenuit-css&amp;lang=de">Deutsch</a></div>
<div class="dropdown-item"><a href="bellenuit-css&amp;lang=en">English</a></div>
<div class="dropdown-item"><a href="bellenuit-css&amp;lang=fr">Fran&ccedil;ais</a></div>
</div>
</div>

<div class="dropdown desktop"><a class="dropdown-item-header" onclick="showAppMenu(this.parentNode); event.stopPropagation();">Login</a>
<div class="dropdown-content"><div class="dropdown-item"><a href="index.php?action=login&amp;name=bellenuit.css&lang=en" rel="nofollow">Login</a></div>
</div>
</div>

<div class="dropdown"><div><div id="singlesearchmenu">
<form method="get" action="index.php">
<input type="hidden" name="action" value="search" />
<input type="hidden" name="lang" value="en" />
<input type="text" class="singlesearchfield" name="query" placeholder="Search..."value=""/>
</form>
</div><!-- searchmenu --></div>
</div>


<script>
function showAppMenu(parent)
{
	hideAppMenu();
	// set this menu						
	children = parent.childNodes;
	for (var i = 0; i < children.length; i++)
	{
		if (children[i].className == "dropdown-content") children[i].style.display = "block";
	}			
}

function hideAppMenu()
{
	collection = document.getElementsByClassName("dropdown-content");
	for (var i = 0; i < collection.length; i++)
	{
		collection[i].style.display = "none";
	}
}

window.onclick = hideAppMenu;
</script></div>
</div>


</div><!-- page --><div id="appmenu"><div id="mobilemenu" class="dropdownmobilemenu"><a class="dropdown-item-header" onclick="showAppMenu(this.parentNode); event.stopPropagation();">≡</a>
<div class="dropdown-content"><div class="dropdown-item"><a href="belle-nuit-montage" rel="nofollow">Home</a></div>
<div class="dropdown-item"><a href="bellenuit-css&amp;lang=de">Deutsch</a></div>
<div class="dropdown-item"><a href="bellenuit-css&amp;lang=en">English</a></div>
<div class="dropdown-item"><a href="bellenuit-css&amp;lang=fr">Fran&ccedil;ais</a></div>
<div class="dropdown-item"></div>
<div class="dropdown-item"><a href="index.php?action=login&amp;name=bellenuit.css&lang=en" rel="nofollow">Login</a></div>
</div>
</div>
<div class="dropdown desktop"><a class="dropdown-item-header" onclick="showAppMenu(this.parentNode); event.stopPropagation();">English</a>
<div class="dropdown-content"><div class="dropdown-item"><a href="bellenuit-css&amp;lang=de">Deutsch</a></div>
<div class="dropdown-item"><a href="bellenuit-css&amp;lang=en">English</a></div>
<div class="dropdown-item"><a href="bellenuit-css&amp;lang=fr">Fran&ccedil;ais</a></div>
</div>
</div>

<div class="dropdown desktop"><a class="dropdown-item-header" onclick="showAppMenu(this.parentNode); event.stopPropagation();">Login</a>
<div class="dropdown-content"><div class="dropdown-item"><a href="index.php?action=login&amp;name=bellenuit.css&lang=en" rel="nofollow">Login</a></div>
</div>
</div>

<div class="dropdown"><div><div id="singlesearchmenu">
<form method="get" action="index.php">
<input type="hidden" name="action" value="search" />
<input type="hidden" name="lang" value="en" />
<input type="text" class="singlesearchfield" name="query" placeholder="Search..."value=""/>
</form>
</div><!-- searchmenu --></div>
</div>


<script>
function showAppMenu(parent)
{
	hideAppMenu();
	// set this menu						
	children = parent.childNodes;
	for (var i = 0; i < children.length; i++)
	{
		if (children[i].className == "dropdown-content") children[i].style.display = "block";
	}			
}

function hideAppMenu()
{
	collection = document.getElementsByClassName("dropdown-content");
	for (var i = 0; i < collection.length; i++)
	{
		collection[i].style.display = "none";
	}
}

window.onclick = hideAppMenu;
</script></div>
</div>

</body></html><!--
     FILE ARCHIVED ON 03:04:09 Mar 28, 2026 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:31:41 Jul 11, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  capture_cache.get: 36.227
  load_resource: 440.437
  PetaboxLoader3.resolve: 328.485
  PetaboxLoader3.datanode: 38.054
-->